<div class="grid-container bg-grey  pt-3 m-lft">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 visible-sm">
              <img src="assets/images/logo.svg" class="mb-3" alt="logo" />
            </div>
            <div class="col-5 hide-sm">
              <h1 class="mat-h1 mb-0">Manage Files & Folders <img src="assets/images/add-btn.svg" class="" alt="add-icon" /></h1>
            </div>
            <div class="col-7">
              <form class="form-inline form-sm float-left w-50 hide-sm">
                <mdb-icon class="search-ico" fas icon="search" aria-hidden="true"></mdb-icon>
                <input class="form-control form-control-sm pl-4 w-100" type="text" placeholder="Search" aria-label="Search"
                  mdbInput>
              </form>
              <div class="text-right pt-2">
                <a href="" class="notification-ico icons"><img src="assets/images/notification.svg" class="mx-3" alt="add-icon" /></a>
                <a href="" class=" visible-sm icons  pr-2"><span class="icon-search"></span></a>
                <a href="" class=" visible-sm icons"><span class="icon-menu"></span></a>
                <a href="" class="color-black hide-sm">
                  <img src="assets/images/profileImg.svg" class="" alt="add-icon" />
                  Savannah Nguyen
                  <mdb-icon class="" fas icon="caret-down" aria-hidden="true"></mdb-icon>
                </a>
              </div>
            </div>
          </div>
    </div>
</div>
