<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="grid-container m-lft">
  
  
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-5">
          <div class="left-bar">
            
            <div class="icon-wrap my-2 text-right">
              <select class="browser-default custom-select w-25">
                <option selected>Latest</option>
                <option value="1">Oldest</option>
                <option value="2">A-Z</option>
                <option value="3">Z-A</option>
              </select>
              <span class="select-arrow"></span>
            </div>
            <div class="">
              <mat-accordion class="lft-tab ">
                <mat-expansion-panel class="mb-3" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="a-tab">
                        <div class="row">
                          
                          <div class="col-9">
                            <div class="float-left">
                              <span class="icon-folder fs-lg color-greyish"></span>
            
                            </div>
                            <div class="float-left ml-4">
                              <p class="mb-0">ABC Data Vault</p>
                              <span class="dtl">22 Files</span><span class="dtl">15 Shares </span>
                            </div>
                            
                          </div>
                          <div class="col-3">
                            
                          </div>
                        </div>
                        
                      </div>
                      <div class="expansion-con">
                        <a href="">
                          <span class="icon-edit mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <span class="icon-user-plus mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/export.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <a href="">
                          <span class="icon-upload mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/bin.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <span class="float-right">Created on: Sep 02, 2020</span>
                      </div>
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  
                  
                </mat-expansion-panel>
                
              </mat-accordion>
              
            </div>
            <div>
              <mat-accordion class="lft-tab ">
                <mat-expansion-panel class="mb-3" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="a-tab">
                        <div class="row">
                          
                          <div class="col-9">
                            <div class="float-left">
                              <span class="icon-folder fs-lg color-greyish"></span>
            
                            </div>
                            <div class="float-left ml-4">
                              <p class="mb-0">BRD Data Vault</p>
                              <span class="dtl">22 Files</span><span class="dtl">15 Shares </span>
                            </div>
                            
                          </div>
                          <div class="col-3">
                            
                          </div>
                        </div>
                        
                      </div>
                      <div class="expansion-con">
                        <a href="">
                          <span class="icon-edit mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <span class="icon-user-plus mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/export.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <a href="">
                          <span class="icon-upload mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/bin.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <span class="float-right">Created on: Sep 02, 2020</span>
                      </div>
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  
                </mat-expansion-panel>
                
              </mat-accordion>
              
            </div>
            <div class="">
              <mat-accordion class="lft-tab ">
                <mat-expansion-panel class="mb-3" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="a-tab">
                        <div class="row">
                          
                          <div class="col-9">
                            <div class="float-left">
                              <span class="icon-folder fs-lg color-greyish"></span>
            
                            </div>
                            <div class="float-left ml-4">
                              <p class="mb-0">Branding</p>
                              <span class="dtl">22 Files</span><span class="dtl">15 Shares </span>
                            </div>
                            
                          </div>
                          <div class="col-3">
                            
                          </div>
                        </div>
                        
                      </div>
                      <div class="expansion-con">
                        <a href="">
                          <span class="icon-edit mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <span class="icon-user-plus mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/export.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <a href="">
                          <span class="icon-upload mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/bin.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <span class="float-right">Created on: Sep 02, 2020</span>
                      </div>
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  
                  
                </mat-expansion-panel>
                
              </mat-accordion>
              
            </div>
            <div class="">
              <mat-accordion class="lft-tab ">
                <mat-expansion-panel class="mb-3" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="a-tab">
                        <div class="row">
                          
                          <div class="col-9">
                            <div class="float-left">
                              <span class="icon-folder fs-lg color-greyish"></span>
            
                            </div>
                            <div class="float-left ml-4">
                              <p class="mb-0">BRD_2 Data Vault</p>
                              <span class="dtl">22 Files</span><span class="dtl">15 Shares </span>
                            </div>
                            
                          </div>
                          <div class="col-3">
                            
                          </div>
                        </div>
                        
                      </div>
                      <div class="expansion-con">
                        <a href="">
                          <span class="icon-edit mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <span class="icon-user-plus mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/export.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <a href="">
                          <span class="icon-upload mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/bin.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <span class="float-right">Created on: Sep 02, 2020</span>
                      </div>
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  
                  
                </mat-expansion-panel>
                
              </mat-accordion>
              
            </div>
            <div class="">
              <mat-accordion class="lft-tab ">
                <mat-expansion-panel class="mb-3" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="a-tab">
                        <div class="row">
                          
                          <div class="col-9">
                            <div class="float-left">
                              <span class="icon-mp4 fs-lg color-greyish"></span>
            
                            </div>
                            <div class="float-left ml-4">
                              <p class="mb-0">Profit V-1.vdo</p>
                              <span class="dtl">15 Shares </span>
                            </div>
                            
                          </div>
                          <div class="col-3 text-right">
                            <img src="assets/images/graph.svg" class="" alt="add-icon" />
                          </div>
                        </div>
                        
                      </div>
                      <div class="expansion-con">
                        <a href="">
                          <span class="icon-edit mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <span class="icon-user-plus mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/export.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <a href="">
                          <span class="icon-upload mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/bin.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <span class="float-right">Created on: Sep 02, 2020</span>
                      </div>
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  
                  
                </mat-expansion-panel>
                
              </mat-accordion>
              
            </div>
            <div class="">
              <mat-accordion class="lft-tab ">
                <mat-expansion-panel class="mb-3" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="a-tab">
                        <div class="row">
                          
                          <div class="col-9">
                            <div class="float-left">
                              <span class="icon-pdf-file fs-lg color-greyish"></span>
            
                            </div>
                            <div class="float-left ml-4">
                              <p class="mb-0">vault_design.pdf</p>
                              <span class="dtl">15 Shares </span>
                            </div>
                            
                          </div>
                          <div class="col-3 text-right">
                            <img src="assets/images/graph.svg" class="" alt="add-icon" />
                          </div>
                        </div>
                        
                      </div>
                      <div class="expansion-con">
                        <a href="">
                          <span class="icon-edit mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <span class="icon-user-plus mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/export.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <a href="">
                          <span class="icon-upload mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/bin.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <span class="float-right">Created on: Sep 02, 2020</span>
                      </div>
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  
                  
                </mat-expansion-panel>
                
              </mat-accordion>
              
            </div>
            <div class="">
              <mat-accordion class="lft-tab ">
                <mat-expansion-panel class="mb-3" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="a-tab">
                        <div class="row">
                          
                          <div class="col-9">
                            <div class="float-left">
                              <span class="icon-pdf-file fs-lg color-greyish"></span>
            
                            </div>
                            <div class="float-left ml-4">
                              <p class="mb-0">vault_design.pdf</p>
                              <span class="dtl">15 Shares </span>
                            </div>
                            
                          </div>
                          <div class="col-3 text-right">
                            <img src="assets/images/graph.svg" class="" alt="add-icon" />
                          </div>
                        </div>
                        
                      </div>
                      <div class="expansion-con">
                        <a href="">
                          <span class="icon-edit mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <span class="icon-user-plus mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/export.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <a href="">
                          <span class="icon-upload mr-3 icon-color"></span>
                        </a>
                        <a href="">
                          <img src="assets/images/bin.svg" class="mr-3" alt="add-icon" />
                        </a>
                        <span class="float-right">Created on: Sep 02, 2020</span>
                      </div>
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>
                  
                  
                </mat-expansion-panel>
                
              </mat-accordion>
              
            </div>
          
  
          </div>
        </div>
        <div class="col">
          
          <div class="tab-content-wrap">
            <!-- <div class="EmptyDiv">
              <div class="EmptyInner">
                <img src="assets/images/no-files.svg" class="" alt="add-icon" />
                <p class="mt-3">Please select any files / folders to check details here</p>
              </div>
            </div> -->
            <div class="con-header">
              <span class="">Created on: Sep 02, 2020</span>
              <div class="float-right d-block">
                <a href="">
                  <span class="icon-edit mr-3 icon-color"></span>
                </a>
                <a href="">
                  <span class="icon-user-plus mr-3 icon-color"></span>
                </a>
                <a href="">
                  <img src="assets/images/export.svg" class="mr-3" alt="add-icon" />
                </a>
                <a href="">
                  <span class="icon-upload mr-3 icon-color"></span>
                </a>
                <a href="">
                  <img src="assets/images/bin.svg" class="mr-3" alt="add-icon" />
                </a>
              </div>
              
              
            </div>
            <mat-tab-group mat-align-tabs="end" class="dash-tab">
              <mat-tab label="Priview">
                <h1>Namey Nameson</h1>
              </mat-tab>
              <mat-tab label="Activities">Content 2</mat-tab>
              
            </mat-tab-group>
  
          </div>
        </div>
        
        
      </div>
    </div>
  </div>