
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$DataVault-primary: mat-palette($mat-indigo);
$DataVault-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$DataVault-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$DataVault-theme: mat-light-theme($DataVault-primary, $DataVault-accent, $DataVault-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($DataVault-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$DataVault-primary: mat-palette($mat-indigo);
$DataVault-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$DataVault-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$DataVault-theme: mat-light-theme($DataVault-primary, $DataVault-accent, $DataVault-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($DataVault-theme);
@import './fonts.scss';
/* You can add global styles to this file, and also import other style files */
$black:#2E2F37;
$white: #fff;
$blue:#2754CE;
$grey:#595959;
$greyish:#ADB9CA;
$icon-color:#474949;
$Text-color:#8493A8;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-grey{
    color: #8493A8 !important;
}
.color-greyish{
    color: $greyish;
}
.icon-color{
    color: $icon-color;
}
h4{
    font-size: 1rem;
    font-weight: 500;
    color: $Text-color;
}
img{
    vertical-align: middle;
}

a {
    color: #2754ce;
    text-decoration: none;
}
a:hover{
    color: #FF7100;
    text-decoration: none;
}
.fnt-small{
    font-size: 12px;
}

.w-100{
    width: 100%;
}
.vault-btn, .modal-dialog .vault-btn{
    background: $blue;
    border: 1px solid $blue;
    box-sizing: border-box;
    color: $white;
    border-radius: 6px;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.fs-lg{
    font-size: 33px;
}
.fs-md{
    font-size: 25px;
}

.mt-3{
    margin-top: 1.2rem !important;
}

.mt-2{
    margin-top: .8rem !important;
}
.mb-0{
    margin-bottom: 0 !important;
}
.justify-content-center {
    justify-content: center;
}
.sidenav a{
    text-align: center;
    .mat-list-item-content {
        justify-content: center;
    }
}
.sidenav a.active{
    background: rgb(255 130 32 / .1);
    span{
        color:#FF7100;
    }
}
.icon-wrap {
    position: relative;
    select {
        background: #FFFFFF;
        border: 1px solid #E9ECF4;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        position: relative;
    }
}
.select-arrow:after{
    content: "\e902";
    font-family: 'icomoon' !important;
    position: absolute;
    right: 15px;
    width: 15px;
    height: 15px;
    display: block;
    top: 14px;
    font-size: 11px;
    color: #8493A8;
}
.mat-card-content mat-form-field .mat-form-field-infix{
    background: #FFFFFF;
    border-radius: 6px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #564F4F;
    padding: 5px 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-drawer-container {
    width: 75px; 
    float: left;
}
.mat-toolbar-row, .mat-drawer-inner-container .mat-toolbar-single-row {
    padding: 0 10px;
}
.m-lft{
    margin-left: 75px !important;
}
.pl-2{
    padding-left: 1.3rem;
}
.search-ico{
    position: absolute;
    left: 12px;
    top: 6px;
    color: #DCDCDC;
}
.form-inline .form-control {
    border: 1px solid #E9ECF4;
    border-radius: 10px;
    padding: 18px 8px;
    padding-left: 1.8rem !important;
    color: #D0D0DD;
}
.form-inline .form-control::placeholder{
    color: #D0D0DD;
}
.form-inline .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #D0D0DD;
  }
  .form-inline .form-control::-moz-placeholder { /* Firefox 19+ */
    color:  #D0D0DD;
  }
  .form-inline .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #D0D0DD;
  }
  .form-inline .form-control:-moz-placeholder { /* Firefox 18- */
    color:  #D0D0DD;
  }
.color-black{
    color: $black;
}
a.notification-ico {
    position: relative;
}
.notification-ico::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #EC2323;
    right: 13px;
    top: 0px;
}
.lft-tab {
    .mat-expansion-panel{
        background: #F7F9FE;
        border-radius: 15px !important;
        
        box-shadow: none;
        
    }
    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
        flex-wrap: wrap;
        margin-right: 0;
    }
    .mat-expansion-panel-header{
        height: auto !important;
        padding: 0;
    }
    .mat-expansion-panel-body {
        padding: 0;
    }
    .mat-expansion-panel:hover{
        background: #fff !important;
        border: 2px solid #FF7100;
    }
    .mat-expansion-panel.mat-expanded{
        background: #FF7100;
    }
    .mat-expansion-panel.mat-expanded p,.mat-expansion-panel.mat-expanded span{
        color: #fff;
    }
    .mat-expansion-panel.mat-expanded:hover p,.mat-expansion-panel.mat-expanded:hover span{
        color:$black;
    }
    .mat-expansion-panel.mat-expanded:hover span.dtl {
        color: #7E828C;
    }
    .mat-expansion-panel.mat-expanded:hover .a-tab span[class*='icon']{
        color: $greyish;
    }
    
    .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
        background: none;
    }
}
.expansion-con{
    border-top: 2px solid #F9EAE3;
    padding: 10px 24px;
    display: none;
    width: 100%;
}
.lft-tab .mat-expansion-panel:hover .expansion-con{
    display: block;
}
.con-header {
    padding: 15px 20px;
    border-bottom: 1px solid #D0D9E6;
}
// .left-bar{
//     // height: 730px;
// }
.a-tab{
    color: $black;
    width: 100%;
    padding: 13px 24px;
    span.dtl{
        color: #7E828C;
    }
}
.tab-content-wrap{
    background: #F7F9FE;
    border-radius: 15px;
    height: 610px;
    margin-top: 3rem;
}
.EmptyDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: $black;
    width: 100%;
    height: 100%;
}
.EmptyInner {
    text-align: center;
}
.dash-tab.mat-tab-group{
    height: 515px;
    margin-top: 1.5rem;
    
    .mat-tab-label-container {
        padding: 0 30px;
    }
    .mat-tab-body-wrapper {
        width: 95%;
      height: 95%;
      background-color: #fff;
      margin:auto;
      padding: 20px 25px;
      overflow-y: scroll;
    }
    .mat-tab-label {
        background: #D0D9E5;
        border: 1px solid transparent;
        border-radius: 3px 3px 0px 0px;
        height: 30px;
        padding: 0 15px;
        min-width: 100px;
    }
    .mat-tab-label:first-child{
        margin-right: 1.2rem;
    }
    .mat-tab-label-active{
        background: #FFFFFF;
        border: 1px solid #D0D9E5;
        border-radius: 3px 3px 0px 0px;
        border-bottom: 0 !important;
        outline: 0 !important;
        box-shadow: none !important;
    }
}
.mat-tab-body-wrapper::-webkit-scrollbar {
    width: 5px;
}

/* Track */

.mat-tab-body-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

.mat-tab-body-wrapper::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

.mat-tab-body-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.screens-slider{
    .carousel-indicators{
        display: none;
    }
}
.icons{
    font-size: 20px;
    color: #1845b9;
    vertical-align: bottom;
    
}
.thank-wrap{
    .mat-card-header-text {
        margin: 0;
    }
}
.btn-group .nav-dropdown{
    top: 15px;
    left: -50%;
}
.toggle-btn.dropdown-toggle::after{
    display: none;
}
.btn-group .nav-dropdown:before{
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid #fff;
    border-bottom: 11px solid #fff;
    box-shadow: 1px 1px #d2d4d8;
    position: absolute;
    top: -5px;
    left: 20%;
    transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.modal-dialog.vault-modal {
    .cancel-btn{
        border: 1px solid $blue;
        box-sizing: border-box;
        border-radius: 6px;
        background: none;
        color: $blue;
        padding: 5px 15px;
    }
    .save-btn{
        background: linear-gradient(180deg, #567FF0 0%, #1858DC 100%), #2754CE;
        padding: 5px 15px;
    }
    .popup-input{
        border: 1px solid #E9ECF4;
        box-sizing: border-box;
        border-radius: 6px;
        font-size: 12px;        
    }
    .modal-content {
        border-radius: 15px;
        padding: 30px 0;
    }
}
.drop-file-wrap{
    background: #FFF9F4;
    border: 2px dashed #F89648;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
}
.uploded-file-wrap{
    background: #F7F9FE;
    border-radius: 15px;
    padding: 15px 20px;
    span.dtl {
        color: #7E828C;
    }
}

@media (min-width:768px){
    .visible-sm{
        display: none !important;
    }
}
@media (max-width:992px){
    .icon-wrap select.w-25{
        width: 35% !important;
    }
    .ml-4, .mx-4 {
        margin-left: .4rem !important;
    }
    .a-tab {
        padding: 13px 18px;
    }
    .fs-lg {
        font-size: 28px;
    }
    .mat-h1, .mat-headline, .mat-typography h1 {
        font: 400 18px/32px Roboto, "Helvetica Neue", sans-serif;
    }
    .w-50 {
        width: 45% !important;
    }
}
@media (max-width:767px){
    .hide-sm, .sidenav-container,.mat-drawer-content{
        display: none !important;
    }
    .m-lft {
        margin-left: 0px !important;
    }
    .bg-grey{
        background: #F7F9FE;
    }
    
}
@media(max-width:576px){
    .icon-wrap select.w-25{
        width: 55% !important;
    }
}
@media(max-width:420px){
    .con-header {
        display: inline-block;
    }
    .con-header>div {
        margin-top: 15px;
    }
    .ml-4, .mx-4 {
        margin-left: .6rem !important;
    }
    
    
}