$black: #000;
$white: #fff;
$grey: #595959;
$blue: #2754ce;
$orange: #ff7100;
$Text-color: #8493a8;

.mat-card-header {
  .mat-card-title {
    font-size: 1.7rem;
    margin-bottom: 18px;
    color: $Text-color;
  }
}
.login-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.fnt-small {
  font-size: 12px;
}
mat-card {
  width: 340px;
  margin: 2em auto;
  padding: 30px;
  color: $Text-color;
}

mat-form-field {
  display: block;
}
.mat-form-field-flex mat-form-field {
  background: #ffffff;
  border: 1px solid #e9ecf4;
  border-radius: 6px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #564f4f;
}
.vault-btn {
  background: $blue;
  border-radius: 6px;
  border: 1px solid $blue;
  box-sizing: border-box;
  color: $white;
}
.vault-btn:hover {
  background: $orange;
  border: 1px solid $orange;
}

.v-anchor {
  text-decoration: none;
  color: $black;
}
