<div class="login-wrapper" fxLayout="row">
  <div class="w-100">
    <div class="text-center w-100">
      <img src="assets/images/logo.svg" class="mb-3" alt="logo" />
    </div>
    <mat-card class="box">
      <mat-card-header class="thank-wrap">
        <mat-card-title>Thank you!</mat-card-title>
      </mat-card-header>
      <h4 class="mb-3">Check your email for an account confirmation email from
        us to get started!</h4>
      <button mat-stroked-button class="btn-block w-100 vault-btn
        text-capitalize my-3" routerLink="/">Continue</button>
    </mat-card>
  </div>
</div>
