<div class="login-wrapper" fxLayout="row">
  <div class="w-100">
    <div class="text-center w-100">
      <img src="assets/images/logo.svg" class="mb-3" alt="logo" />
    </div>
    <!-- Thank you -->
    <mat-card class="box">
      <mat-card-header class="thank-wrap">
        <mat-card-title>Thank you!</mat-card-title>
      </mat-card-header>
      <h4 class="mb-3">Check your email for an account confirmation email from
        us to get started!</h4>
      <button mat-stroked-button class="btn-block w-100 vault-btn
        text-capitalize my-3" routerLink="/">Continue</button>
    </mat-card>
    <!-- Resend mail -->
    <!-- <mat-card class="box">
      <mat-card-header class="thank-wrap">
        <mat-card-title>Confirm Account</mat-card-title>
      </mat-card-header>
      <form class="login-form">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
        </mat-card-content>
      </form>
      <h4 class="mb-3 fnt-small">Instructions on how to confirm your account will be sent
        to the above email. If you have trouble finding the confirmation email
        please be sure to check your span folder.</h4>
      <button mat-stroked-button class="btn-block w-100 vault-btn
        text-capitalize my-3" routerLink="/">Continue</button>
    </mat-card> -->
  </div>
</div>
