<div class="login-wrapper" fxLayout="row" >
    <mat-card class="box">
      <img src="assets/images/logo.svg" class="mb-3" alt="logo" />
      <mat-card-header class="justify-content-center">
        
        <mat-card-title>Password Reset</mat-card-title>
        
      </mat-card-header>
      
      <p class="fnt-small">Enter your Email </p>
  
      <form class="login-form">
  
        <mat-card-content>
          
  
          <mat-form-field class="full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
  
          
        </mat-card-content>
        
        <button mat-stroked-button class="btn-block w-100 vault-btn text-capitalize mt-3">Request Password reset</button>
        
      </form>
    </mat-card>
  </div>
  
  