$black:#000;
$white: #fff;
$grey:#595959;
$blue:#2754CE;
$orange:#FF7100;
$Text-color:#8493A8;

.mat-card-header .mat-card-title {
    font-size: 1.7rem;
    margin-bottom: 18px;
}
.login-wrapper{
    height:100%;
    display: flex;
    align-items: center;
}
.fnt-small{
    font-size: 12px;
}
mat-card {    
    width: 340px;
    margin: 2em auto;
    text-align: center;
    padding: 30px;
    color: $Text-color;
}

mat-form-field {
    display: block;
}

.vault-btn{
    background: $blue;
    border: 1px solid $blue;
    box-sizing: border-box;
    border-radius: 6px;
    color: $white;
}
.vault-btn:hover{
    background: $orange;
    border: 1px solid $orange;
}

.v-anchor{
    text-decoration: none;
    color: $black;
}
